// RESET
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

textarea {
  font: inherit;
  border: initial;
  resize: none;
  outline: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial;
  background-color: initial;
}

// UTILITIES
.u-bold {
  font-weight: 600;
}

.u-medium {
  font-weight: 500;
}

.u-transparent {
  color: rgba(255, 255, 255, 0.8);
}

// BASE
.body {
  background-image: linear-gradient(200deg, #654a86, #534292);
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 850px;
  }
}

// APP
.app {
  width: 715px;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

// HEADER
.header {
  height: 277px;
  background-color: #121618;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 555;
  backface-visibility: hidden;
  transform: translateZ(0);
  box-shadow: rgba(12, 17, 21, 0.5) 0px 0px 50px;
  padding-bottom: 3px;

  &__pattern {
    position: absolute;
    top: 0;
    z-index: 0;

    &::selection {
      background-color: initial;
    }
  }
}

// FORM
.form {
  margin-top: 20px;
  height: 123px;
  width: 470px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.055);
  }

  &:focus-within {
    outline: 2px solid rgba(255, 255, 255, 0.125);
  }

  &--invalid {
    box-shadow: 0 0 0 2px #8a3d2c;
  }

  &--valid {
    box-shadow: 0 0 0 2px #2c8a5e;
  }

  &__textarea {
    width: 100%;
    height: 85px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    padding: 15px 20px;
    caret-color: rgba(255, 255, 255, 0.25);

    &::selection {
      color: rgba(255, 255, 255, 0.85);
      background-color: rgba(255, 255, 255, 0.05);
    }

    &::placeholder {
      opacity: 0;
    }

    &:focus + .form__label,
    &:not(:placeholder-shown) + .form__label {
      opacity: 0;
    }
  }

  &__label {
    position: relative;
    top: 13.5px;
    left: 20px;
    color: #fff;
    opacity: .42;
    pointer-events: none;
    
    &::selection,
    & *::selection {
      color: rgba(255, 255, 255, 0.85);
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  &__icon {
    font-size: 12px;
    margin-left: 4px;
    color: #fff;
    opacity: .5;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: -8px;
  }
}

// COUNTER
.counter {
  font-weight: 500;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.25);
  pointer-events: none;

  &::selection,
  & > *::selection {
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(255, 255, 255, 0.05);
  }
}