@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* RESET  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

textarea {
  font: inherit;
  border: initial;
  resize: none;
  outline: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial;
  background-color: initial;
}
